@model Club

<div style="width: min(100%, 800px)">
    <h1>@Model.Title</h1>
    <span class="text-muted d-block mb-3" title="category">
        <i class="bi bi-tag-fill"></i>
        @Model.ClubCategory
    </span>
    <span class="text-muted d-block mb-3" title="adress">
        <i class="bi bi-geo-alt-fill"></i>
        @Model.Address.State, @Model.Address.City, @Model.Address.Street,
    </span>
    <img src="@Model.Image" alt="@Model.Title" class="d-block w-100 mb-4 rounded" />

    <p>
        @Model.Description
    </p>
</div>


