@model IEnumerable<Club>

<h1 class="text-success text-center mb-5">Hello from club view</h1>

<ul class="row row-cols-3 list-unstyled">
    @foreach (var item in Model)
    {
        <li class="mb-3">
            <div class="card">
                <img src="@item.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.ClubCategory</h6>
                    <p class="card-text">@item.Description</p>
                    <a class="btn btn-primary" asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-secondary" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id">View</a>
                </div>
            </div>
        </li>
    }
</ul>