@model Race


<div style="width: min(100%, 800px)">
    <h1>@Model.Title</h1>
    <span class="text-muted d-block mb-3" title="category">
        <i class="bi bi-tag-fill"></i>
        @Model.RaceCategory
    </span>
    <span class="text-muted d-block mb-3" title="adress">
        <i class="bi bi-geo-alt-fill"></i>
        @Model.Address.State, @Model.Address.City, @Model.Address.Street,
    </span>
    <img src="@Model.Image" alt="@Model.Title" class="w-100" />
    <div class="my-3 fs-1">
        <a href="@Model.Website" title="website">
            <i class="bi bi-globe"></i>
        </a>

        <a href="@Model.Twitter">
            <i class="bi bi-twitter"></i>
        </a>

        <a href="@Model.Facebook">
            <i class="bi bi-facebook"></i>
        </a>
    </div>
    <p>@Model.Description</p>
</div>